:root {
  --bg: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --blue-primary: rgba(77, 174, 255, 1);
  --cards-bg: rgba(254, 254, 255, 1);
  --colorsneutralwhite: rgba(255, 255, 255, 1);
  --dark-blue: rgba(1, 83, 201, 1);
  --dark-grey-400: rgba(33, 43, 54, 1);
  --icons-color-02: rgba(215, 217, 230, 1);
  --iris-100: rgba(93, 95, 239, 1);
  --light-black: rgba(49, 57, 69, 1);
  --reject-cancel: rgba(255, 85, 85, 1);
  --textffffff: rgba(255, 255, 255, 1);
  --transfer: rgba(31, 185, 252, 1);
  --white: rgba(255, 255, 255, 1);
}
